@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple");
body{
  font-family: 'Inconsolata', monospace;
}
.jumbotron {
  padding:40px;
}

.textMove{
  font-size:60px;
}
.input-group-text{
    background-color:#888844;
    color:black;
}
.jumbotron{
    background-image: linear-gradient(#666633, #d4d4aa);
}

.card{
    background-color: #666633 !important;
}
.bg-secondary{
    /* background-color: #666633 !important; */
    background-image: linear-gradient(#666633, #d4d4aa);
}
.list-group-item, .list-group-item:hover{ z-index: auto; }
.list-group{
    max-height: 212px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}
.list-group::-webkit-scrollbar {
    width: 6px !important;
}
.list-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(230, 137, 137, 0.3) !important;
}
.list-group::-webkit-scrollbar-thumb {
  background-color:#dc3545 !important;
  outline: 1px solid slategrey !important;
}

.tooltip-inner {
    background-color: #dc3545 !important;
    color: white ;
  }
  .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #dc3545 !important;
  }
  
  .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #dc3545 !important;
  }
  
  
  .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #dc3545 !important;
  }
  
  
  .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #dc3545 !important;
  }
  #exampleModalCenter{
      padding-right: 0% !important;
  }
  @media (max-width: 900px) { 
    .cssContainer {
      bottom: 380px !important;
    }
  }
  @media (max-width: 569px) { 
    .radioLabel{
      font-size: 15px;
    }
  #first{
      padding-bottom: 35px !important;
  }
  #fourth{
    padding-top: 35px !important;
}
    .cssContainer {
      bottom: 420px !important;
      height: 230px !important;
    }
    .textMove{
      padding-bottom: 22px;
    }
    .jumbotron{
      padding:20px;
    }
    
  }

  /* ****************************************************************Search box STYLE ************************************************************* */

.cssContainer {
  position: absolute;
  /* margin: auto; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 370px;
  width: 300px;
  height: 270px;
}
.cssContainer .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #dc3545;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.cssContainer .search:hover {
  cursor: pointer;
}
.cssContainer .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.cssContainer .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.cssContainer input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #dc3545;
  color: white;
  text-shadow: 0 0 10px #dc3545;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #dc3545, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.cssContainer input:hover {
  cursor: pointer;
}
.cssContainer input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.cssContainer input:focus ~ .search {
  right: -250px;
  background: #666633;
  z-index: 6;
}
.cssContainer input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.cssContainer input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.cssContainer input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

  